<p style="text-align: center;">
<div class="navbar">
  <a href="{{site.baseurl}}/">Home</a>
  <a href="{{site.baseurl}}/data_model/mmm.html">Data Model</a>
  <a href="{{site.baseurl}}/data_model/mmm-schema">Schema</a>
  <a href="{{site.baseurl}}/transform/transform">Data Transformation Pipeline</a>
  <a href="{{site.baseurl}}/sparql/sparql_tutorial.html">SPARQL tutorials</a>
  <div class="dropdown">
    <button class="dropbtn">Source Datasets
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
  <a href="{{site.baseurl}}/intro/about_sdbm">SDBM</a>
  <a href="{{site.baseurl}}/intro/about_bod">Bodleian Library</a>
  <a href="{{site.baseurl}}/intro/about_bibale">BIBALE</a>
  </div>
  </div>
  </div>
</p>
